body{
    background-color: #a13939;
    margin-top: 10px;
    transition: 0.5s;
}

header{
    padding-top: 10px;
    border-radius: 10px 10px;
}

header img{
    max-width: 70%;
}

/* Separador horizontal de la página principal*/
hr.separador{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    border-top: 1px solid bisque;
}

#tiempo {
    font-family: 'Nunito', sans-serif;
}

/* Bloque principal de la página*/
.timer{
    background-color: #ea907a;
    border-radius: 7px 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border: 2px solid #761a1a;
}

.boton{
    background-color: transparent;
    color: white;
    border-radius: 5px 5px;
    border: 2px solid bisque;
}

.boton:hover{
    color: white;
    transition: all 0.1s linear 0s;
}

.boton:focus{
    color: white;
}

.sesion{
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

/*  Botones para sesion de trabajo, descanso corto y 
    descanso largo */
.row.sesion button{
    margin-bottom: 25px;
}

/*  Botones para iniciar/detener la sesion en tamaños 
    de pantalla medianos o mayores*/
.ajustes div{
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 15px;
}

#start, #reset, #ajuste{
    border: 1px solid #8a1f1f;
    color: #d15555;
}

/*#start:hover, #reset:hover, #ajuste:hover{
    color: #d15555;
}*/

.piePagina{
    padding: 3px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

/* Enlaces*/
.col-xs-5 a, .col-sm-5 a{
    float: right;
    color: white;
}

.info{
    background-color: #ea907a;
    padding: 5px;
    border-radius: 5px;
}

.info a{
    color: white;
}

.col-xs-5 button, .col-sm-5 button{
    padding: 0;
    background-color: transparent;
    font-size: 15px;
    color: white;
}

.col-xs-5 button:hover, .col-sm-5 button:hover{
    padding: 0;
    background-color: transparent;
    font-size: 15px;
    color: white;
    text-decoration: underline;
}

.piePagina .separador{
    margin-bottom: 5px;
}

.imgFooter{
    width: 20px;
}

#lienzo{
    border: 5px solid white;
    border-radius: 50%;
}