p{
    text-align: justify;
    font-size: 1.3em;
    color: white;
}

section.row{
    padding: 35px;
    background-color: #ea907a;
    border-radius: 7px 7px;
    border: 2px solid bisque;
}

.col-xs-6.col-sm-3.col-md-3.col-lg-2.col-md-offset-1.col-lg-offset-2{
    margin-top: 3px;
    padding-left:0;
}

.paso{
    background-color: #c13131;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    border: 2px solid bisque;
    text-align: center;
}

.renglon{
    margin-bottom: 10px;
    color:white;
    font-size: 1.1em;
}

.renglon img{
    height: 100px;
    margin: 10px;
}

#ventanaIdioma a{
    color: rgb(58, 58, 58);
}

#ventanaIdioma a:hover{
    color: #ea907a;
    text-decoration: none;
}