body {
    background-color: #a13939;
    margin-top: 10px;
    transition: 0.5s;
}

header {
    padding-top: 10px;
    border-radius: 10px 10px;
}

header img {
    /*max-width: 70%;*/
    max-height: 12vh;
}

/* Separador horizontal de la página principal*/
hr.separador {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    border-top: 1px solid bisque;
}

#tiempo {
    font-family: 'Nunito', sans-serif;
    color: white;
}

/* Bloque principal de la página*/
.timer {
    background-color: #ea907a;
    border-radius: 7px 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border: 2px solid bisque;
}

.boton {
    background-color: transparent;
    color: white;
    border-radius: 5px 5px;
    border: 2px solid bisque;
}

.boton:hover {
    color: white;
    transition: all 0.1s linear 0s;
}

.boton:focus {
    color: white;
}

.btn:active{
    outline: none !important;
}

.btn:focus {
    outline: none;
}

.sesion {
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

/*  Botones para sesion de trabajo, descanso corto y 
    descanso largo */
.row.sesion button {
    margin-bottom: 25px;
}

/*  Botones para iniciar/detener la sesion en tamaños 
    de pantalla medianos o mayores*/
.ajustes div {
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 15px;
}

#start, #reset, #ajuste {
    border: 1px solid #8a1f1f;
    color: #d15555;
}

.piePagina {
    padding: 3px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

/* Enlaces*/
.col-xs-5 a, .col-sm-5 a {
    float: right;
    color: white;
}

.info {
    background-color: #ea907a;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-top: 3px;
    border: 2px solid bisque;
}

.info a {
    color: white;
}

.col-xs-5 button, .col-sm-5 button {
    padding: 0;
    background-color: transparent;
    font-size: 15px;
    color: white;
}

.col-xs-5 button:hover, .col-xs-5 button:active,
.col-sm-5 button:hover, .col-sm-5 button:active {
    padding: 0;
    background-color: transparent;
    font-size: 15px;
    color: white;
    text-decoration: underline;
}

.col-xs-5 button:focus, .col-sm-5 button:focus {
    text-decoration: none;
    color: white;
}

.piePagina .separador {
    margin-bottom: 5px;
}

.imgFooter {
    width: 20px;
}

#lienzo {
    border: 7px solid white;
    border-radius: 50%;
}

/* Estilos de las ventanas de configuración y créditos */
.modal-header {
    background-color: #d15555;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

h3.modal-title{
    display:inline;
    color: white;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    border: 2px solid #b1b1b1;
    border-radius: 5px;
}

input[type="number"]:focus {
    outline: none;
}
	
/* Estilo para los checkbox de Alarma e Inicio automático */
input[type="checkbox"] + label:before {
	content: "";
	width: 26px;
	height: 26px;
	float: left;
	margin: 0.5em 0.5em 0 0;
	border: 2px solid #ccc;
}

input[type="checkbox"]:checked + label:before {
	border-color: #d15555;
}

/* Palomita */
input[type="checkbox"]:checked + label:after {
    content: "";
    width: 14px;
    height: 8px;
    border: 4px solid #8a1f1f;
    float: left;
    margin-left: -1.95em;
    border-right: 0;
    border-top: 0;
    margin-top: 1em;
    transform: rotate(-55deg);
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
    line-height: 3em;
}

/* Estilo para los créditos */
ul {
    list-style: none;
}
  
ul li:before {
    content: "\1F789";  /* Código unicode de la viñeta */
    color: #d15555;
    display: inline;
    margin-left: -1.5em;
}